/* ===== FLOW ===== */
.flow {
  position: relative;
  background-color: rgb(217, 242, 240);
  padding: 12rem 0 19.6rem;
}

.flowInner {
  position: relative;
}

.flowTtl01 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  color: rgb(28, 44, 67);
  margin-bottom: 2.4rem;
}

.flowTxt01 {
  font-size: 1.5rem;
  line-height: 1.8;
  color: rgb(28, 44, 67);
  margin-bottom: 6rem;
  max-width: 700px;
}

.flowCopy {
  text-align: center;
}

.flowCopy img {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* ===== タブレット（〜1024px）===== */
@media screen and (max-width: 1024px) {
  .flow {
    padding: 10rem 0 16rem;
  }
}

/* ===== モバイル（〜767px）===== */
@media screen and (max-width: 767px) {
  .flow {
    padding: 17.3333vw 0 32vw;
  }

  .flowTtl01 {
    font-size: 6.93333vw;
    margin-bottom: 5.33333vw;
  }

  .flowTxt01 {
    font-size: 3.73333vw;
    margin-bottom: 8vw;
  }
}
